services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${LLAMERO_POSTGRES_DBNAME}
      POSTGRES_USER: ${LLAMERO_POSTGRES_USER}
      POSTGRES_PASSWORD: ${LLAMERO_POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
