basePath: /
definitions:
  Backend:
    properties:
      address:
        type: string
      healthy:
        type: boolean
      id:
        type: string
      latency_ms:
        type: integer
      models:
        items:
          type: string
        type: array
      tags:
        items:
          type: string
        type: array
      updated_at:
        type: string
    type: object
info:
  contact: {}
  description: Llamero control plane API.
  title: Llamero API
  version: "1.0"
paths:
  /admin/backends:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/Backend'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: List registered backends
      tags:
      - Backends
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
